@tailwind base;
@tailwind components;
@tailwind utilities;


* ::-webkit-scrollbar {
    width: 8px;
    border-radius: 0;
    background-color: transparent;
}

* ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.06);
}

* ::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

html {
    scroll-behavior: smooth;
}

body {
    text-rendering: optimizeSpeed;
    height: 100%;
}


/* Notify custom CSS */
#notify.ant-popover-inner {
    padding-left: 0 !important;
}

/* Skeleton custom CSS */
ul.ant-skeleton-paragraph {
    margin-top: 12px !important;
}

/* Carousel custom for show Arrow */
.ant-carousel .slick-prev,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-prev:focus {
    font-size: inherit !important;
    left: 10px !important;
    z-index: 2 !important;
    color: #fff !important;
}

.ant-carousel .slick-next,
.ant-carousel .slick-next:hover,
.ant-carousel .slick-next:focus {
    font-size: inherit !important;
    right: 10px !important;
    z-index: 2 !important;
    color: #fff !important;
}

.ant-carousel .slick-prev,
.ant-carousel .slick-next {
    width: 24px !important;
    height: 24px !important;
}

/* Zigzag */
.border-zigzag {
    background: linear-gradient(-137deg, #fdf2f6 6px, transparent 0) 0 5px, linear-gradient(320deg, #fdf2f6 6px, #fff 0) 0 5px;
    background-color: #fdf2f6;
    background-position: left bottom;
    background-repeat: repeat-y;
    background-size: 10px 10px;
}

/* Navbar */
/* ul.ant-menu li.ant-menu-item a,
ul.ant-menu li span {
    font-size: 1rem;
    line-height: 1.5rem;

} */

.ant-anchor-wrapper-horizontal::before {
    display: none;
}

.ant-anchor-ink {
    left: 0;
    width: 0;
    display: none;
}