@tailwind base;
@tailwind components;
@tailwind utilities;


* ::-webkit-scrollbar {
    width: 8px;
    border-radius: 0;
    background-color: transparent;
}

* ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.06);
}

* ::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

body {
    text-rendering: optimizeSpeed;
}

a {
    color: #000000 !important;
}


/* Navbar custom color */
.ant-menu-item:hover::after,
.ant-menu-submenu:hover::after,
.ant-menu-item-selected::after,
.ant-menu-submenu-selected::after,
.ant-menu-submenu-open::after {
    @apply !border-b-primary-500;
}

.ant-menu-item-selected a,
.ant-menu-item-selected span {
    @apply !text-primary-500;
}

.ant-menu-submenu-selected .ant-menu-submenu-title {
    @apply !text-primary-500;
}

.ant-menu-light>.ant-menu .ant-menu-item-selected,
.ant-menu-submenu-title:active,
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):active {
    @apply !bg-primary-50;
}


/* Notify custom CSS */
#notify.ant-popover-inner {
    padding-left: 0 !important;
}

/* Skeleton custom CSS */
ul.ant-skeleton-paragraph {
    margin-top: 12px !important;
}

/* Search Input custom CSS */
.ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover,
.ant-wave {
    @apply !text-primary-400;
}

.ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector {
    @apply !border-primary-200;
    
}

.ant-select-focused.ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector {

    @apply !border-primary-200 !shadow-[0_0px_0px_2px_rgba(0,0,0,0.3)] !shadow-primary-50;

}